<img src="{{cover}}" alt="" styles="width: 570px;">

<table>
  <tr>
    <td>Nazvanije</td>
    <td>{{title}}</td>
  </tr>

  <tr>
    <td>Opisanije</td>
    <td>{{description}}</td>
  </tr>

  <tr>
    <td>Avtor</td>
    <td>{{author}}</td>
  </tr>

  <tr>
    <td>Ssylka na novostj</td>
    <td>
      <a href="http://localhost:3000/news/details/{{id}}">
        http://localhost:3000/news/details/{{id}}
      </a>
    </td>
  </tr>
</table>
